* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 2rem;
    /* border: 2px solid black; */
    background-color: steelblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

#header-text {
    display:flex;
    justify-content: space-around;
}
#button-container button {
    padding: 12px;
    border: 3px solid white;
    border-radius: 8px;
    background-color: red;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}


#button-container #rgb-mode {
    background-color: purple;
}


#sketch-container {
    margin: auto;
    margin-top: 1rem;
    width: 500px;
    height: 500px;
    display: grid;

}

#divRow {
    width: 100%;
    height: 100%;
    display: flex;
}

#divColumn {
    width: 100%;
    height: 100%;
    border: 1px solid black;

}

